@import "animations";

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

html {
  --main-color: #ff7373;
  --main-color-hover: #cf5555;
  --main-color-inactive: #fa8c8c;
  overflow-x: hidden;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.25rem;
  color: #fff;
}

input {
  font-size: 1.25rem;
  padding: 0.5em;
  border-radius: 0.25em;
  border: 0.1em solid gray;
  transition: 0.3s border ease-in-out;

  &:focus {
    border: 0.1em solid var(--main-color);
  }
}
